body{
    overflow-x: hidden;
    background-color:  rgb(243, 233, 208) !important;
}

h1{
    text-align: center;
    padding: 60px;
}

.container{
  padding: 0px ;
}

.navbar {
    background-color: rgb(243, 233, 208);
}
