body{
    overflow-x: hidden; 
    background-color:  rgb(243, 233, 208) !important;

}

.txt{
    text-align: center;
    margin-top: 20px
}

.card{
    display: flex;
    flex-direction: row;
    border: 6px solid black;
    
}
 
    .btn a {
    color: rgb(218, 199, 170);
    background-color: black;
    text-decoration: none;  /* Removes underline */
    border: none;           /* Removes border if any */
    outline: none;          /* Removes focus outline */
    display: inline-block;  
    padding: 10px 20px;
    border-radius: 5px;
}

.btn a:hover {
    background-color: rgb(108, 73, 29);
}

